---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin-secret
  namespace: monitoring
spec:
  encryptedData:
    admin-password: AgCNRAuFfmG9M+b0DRUq4wsN8T+H1KJMAlGRhwYfwZqet6m/ik8yv1Du6mFRJeZQp9fC8lc6tcktBnZ4jMnkLW9KCRdSQT9bzuE9GG+b7luKiUe5uyy7qPw86cZVLY2nl7/WMJBp5GNIz3MNfrW9oP3XNKi1x22nhCpL2WsXr6BdjiRrHyGKwZsZqalAoO7Ohl5g4qT6kDXIbO0WxkME1OpBSfkvxXGhHHvFKsMf9PSy+lKCE9ACSm2JelWCbxk5BxQzGqC6TIi9ta3oIic9pWP/vrQoCIoCCmNPU4kkgooyJJuLuJ5hS4DxcTK6VMkUekbUU2xJE333XPMxGkpviafp6jU57rbmrm+RnkZzs0YSp1j8ubQQcBECoQ/bgiBppYTjHGf4lOi8B7mk7H/WwgRTD3xH8tqPMJqllcncDDUlYqXwNWlqZNQoyF4WsyUWdBNTzQ4q9iQ4VgeL4Z2QjunuhjeSCzVw5LDOXXjhI58rBcqVWjxWGJq/ASzCghTMyOZwOvyTENipSS6Osb5lcs8naddpXYVCYS4vNuTcbOFCTg3lsUb3vACXtMQ/rk4ge1eD+7R4kBv+WvMGZ6DQgF55S8rpGkDh0ECEmdgy+gXtA8TDXT12JI0R4dha4o5mqmnQ0Q7ckAvmJPqbyjhCL1pz6l8YLTEOuNERrFT3usgUplW38CR+onKHwAl6TEmSkFsmHID/dg30NyoTkTIzBjDAddKeeb61x8DxfxR8FTWxMdZXF9Rs6K/D
    admin-user: AgCUWx3rHMBqnKXycEbFpxhxlndsV3DdHUTb60hgrENjkjIL7JAQeF+Nm8pPmpglMfFHOANecUpmHpaX1plsAMC0stxNysINVP5v/QuhJVlVK691DHUMlB/niawf0T1IOhMe4UTfz9hh5Z87362zSy23zzKW9dn2ZYXMU4SHQaUq9WnWK2DBp0SMI4lisrwSrwweZz2B05kPRHUlC611zIMY7PSm4IY4+SJUX+ClWliHcBPt9Lh47BCB5W8fQQ0RkLSfb7/yEYAqIUVgVk/fd0y1NnjqU+JIyhrjsP1MfbdFhmWGtWab6mWevc/+GdhLAGDiHYwAyvXSdHaTwiAyub6elmj2ezRUAbbkb4yv5rcyqtfJTru3st/y+I/mWxHz1LR7N56dVHWN+cU8S/4vdusfvPHQAF/wJrLuj98wz/brNFnDk/lDUoLlnzGCkNm4u/4EfwH1uLaT/7BZKvHe5FxTkxwAIMUa6NfLZjg64i0OWc3IxhY8IYvDH4G7VsCDMh0puSuw/o25h4FheI4FL+RUCSTijIspmcd/pOfk+eoSy/hig0ovspWDDKlkbXr8QT9qj6MRE1NxSh+TT0Wd0pZBi9hKVul9akV9gxBzdZbYY4eojNRIA1s1lm1Sf3KRhNRPKorY5aZ9rCQc3KEeJeP7gQZXJzn3aWsLYlwxi1pYUVNRqgqW4qyQBYjkIb3/dvyGA8jpuQ==
  template:
    metadata:
      name: grafana-admin-secret
      namespace: monitoring
    type: Opaque
